apiVersion: apps/v1
kind: Deployment
metadata:
  name: sample-app-deployment
spec:
  replicas: 3
  selector:
    matchLabels:
      app: sample-app
  template:
    metadata:
      labels:
        app: sample-app
    spec:
      containers:
        - name: sample-app
          image: 270758478612.dkr.ecr.us-east-2.amazonaws.com/sample-app:v3
          ports:
            - containerPort: 8080

